@import 'tailwindcss';
@import 'bootstrap-icons';

body {
    background: #242424;
    overflow-x: hidden;
}

/* :root {
    color-scheme: light;
} */

main {
    background: linear-gradient(147deg, rgba(36, 36, 36, .7)100%, rgba(36, 36, 36, 0)0%), url('../../public/bg-akai.png');
    color: rgb(1, 168, 62);
}